/* System Message */

/* Italic */
div.systemmessageItalic {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

p.systemmessageItalicOther {
    margin: 0px;
	padding: 0px;
	text-indent: 1em;
	text-align: justify;
    font-style: italic;
}

p.systemmessageItalicFirst {
    margin: 0px;
	padding: 0px;
	text-indent: 0em;
	text-align: justify;
    font-style: italic;
}

span.systemmessageItalicEmphasis {
    font-style: normal;
}

/* Block */
table.systemmessageBlock {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 100%;
	border: 1px solid black;
	background-color: #A0A0A0;
}

p.systemmessageBlockOther {
    margin: 0px;
	padding: 0px;
	text-indent: 1em;
	text-align: justify;
    color: #010000;
}

p.systemmessageBlockFirst {
    margin: 0px;
	padding: 0px;
	text-indent: 0em;
	text-align: justify;
    color: #010000;
}

span.systemmessageBlockEmphasis {
    font-style: italic;
}