/* Character Sheet*/

div.character {
	margin-top: 0.5em;
    margin-bottom: 0.5em;
	font-style: italic;
}

p.characterSection {
	margin-top: 0.5em;
	text-align: left;
	text-indent: 0em;
}

p.characterContent {
	text-align: left;
	text-indent: 0.5em;
}