/* System Message */

/* Italic */
div.systemmessageItalic {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

p.systemmessageItalicOther {
    margin: 0px;
	padding: 0px;
	text-indent: 1em;
	text-align: justify;
    font-style: italic;
}

p.systemmessageItalicFirst {
    margin: 0px;
	padding: 0px;
	text-indent: 0em;
	text-align: justify;
    font-style: italic;
}

span.systemmessageItalicEmphasis {
    font-style: normal;
}

/* Block */
table.systemmessageBlock {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 100%;
	border: 1px solid black;
	background-color: #707070;
}

p.systemmessageBlockOther {
    margin: 0px;
	padding: 0px;
	text-indent: 1em;
	text-align: justify;
}

p.systemmessageBlockFirst {
    margin: 0px;
	padding: 0px;
	text-indent: 0em;
	text-align: justify;
}

span.systemmessageBlockEmphasis {
    font-style: italic;
}

/* Other
p.systemmessage {
	text-indent: 0em;
	text-align: center;
	font-size: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

table.systemmessage {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 100%;
	border: 1px solid black;
	background-color: #707070;
}
*/